<div class="dashboard-container">
  <!-- Top Nav -->
  <app-admin-nav></app-admin-nav>
  <!-- Stats Row -->
  <div class="stats-row">
    <div class="stat">
      <h3>Total Users</h3>
      <p>{{ users }}</p>
    </div>
    <div class="stat">
      <h3>Total Groups</h3>
      <p>{{ groups }}</p>
    </div>

  </div>

  <!-- Cards Section -->
  <div class="cards-container">
    <!-- Users Card -->
    <div class="card">
      <div class="card-header">
        <h2>Users</h2>
        <button  class="add-btn" (click)="openAddUser()"  >+ Add User</button>
      </div>
      <div class="card-content">
        <ul class="preview-list">
           <li *ngFor="let user of usersList | slice:0:3">
            {{ user.username }} ({{ user.email }})
          </li>
        </ul>
       
      </div>
    </div>

    <!-- Groups Card -->
    <div class="card">
      <div class="card-header">
        <h2>Groups</h2>
        <button class="add-btn green" (click)="openAddGroup()">+ Add Group</button>
      </div>
      <div class="card-content">
        <ul class="preview-list">
           <li *ngFor="let group of groupsList ">
            {{ group.name }} 
          </li>
        </ul>
      
      </div>
    </div>
  </div>
</div>
