<app-user-nav></app-user-nav>

<div class="dashboard-container">
  <h2>📊 My Groups</h2>

  <!-- Groups List -->
  <div class="groups-list">
    <div
      class="group-card"
      *ngFor="let group of groups"
      (click)="openGroup(group.id)"
    >
      <h3>{{ group.name }}</h3>
      

      <div class="group-stats">
        <span class="total">💰 Total: ₹{{ group.totalExpenses || 0 }}</span>
        <span
          class="balance"
          
        >
         <p>  Balance:{{ group.userBalance }}</p>
        </span>
      </div>
    </div>
  </div>

  <!-- Show message if no groups -->
  <div class="empty-state" *ngIf="groups.length === 0">
    <p>You are not part of any groups yet. 🚀</p>
  </div>
</div>
